<mat-toolbar class="toolbar-container">
  <div class="nav-left">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <span class="toolbar-title">Simple Weather</span>
  </div>
  <div class="search-box">

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon search-icon" aria-label="Search icon-button with search icon">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  
</mat-toolbar>

<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>

<section>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title class="text-3xl font-bold "> Next Hours</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for(day of nextHoursWeather; track day.temperature) {
        <div class="container">
          <div class="temperature">{{day?.temperature}}</div>
          <div>{{day?.precipitation}}</div>
          <div>{{day?.dayIcon}}</div>
          <div>{{day?.timeOfDay}}</div>
        </div>
      }
      </mat-card-content>
    </mat-card>
</section>

<section>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> Next 5 days</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        
      </mat-card-content>
    
    </mat-card>

</section>


<!-- button section -->

<router-outlet />